<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <hr class= "my-5 text-light">
            </div>
        <div class="row">

            <div class="col-5 text-end">
            <img src="/website1/assets/img/2.jpg" class="rounded-circle">
            </div>
        <div class="col-7 text-center">
            <h4>The Second heading<span class="text-muted"> Is Pretty cool too<span></strong></h4>
            <p>Aqui va todo el contenido del parrafo</p>
        </div>
        </div>
    </div>
</body>
</html>