<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container d-flex">
        <div class="row">
            <div class="col-12">
            <img src="/website1/assets/img/2.jpg" class="rounded-circle" style="max-height: 300px; max-width: 300px;">
            </div>
        </div>
        <div class="col-12">
            <h4 class="col-7-12" style="margin-left: 20px; margin-top: 20px;">The Second heading<span class="text-muted"> Is Pretty cool too<span></strong></h4>
            <p class="col-7-12" style="margin-left: 20px;">Aqui va todo el contenido del parrafo</p>
        </div>
        </div>
    </div>
</body>
</html>